<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equi="X-UA-Compatible" contenteditable="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wopp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- <link rel="stylesheet" href="/src/app/pages/wop/wop.css"> -->
</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <!-- La palabra flower se debe cambiar por el Woop -->
        <a href="#" class="logo">Wopp<span></span></a>

        <!-- las palabras de home a contact se deben cambiar por las que llevaran la pagina  -->
        <nav class="navbar">
            <a href="#inicio">inicio</a> 
            <a href="#woppers">woppers</a>
            <a href="#modelo">Modelo de Negocio</a>
            <a href="#perspectiva">Proyección</a>
            <a href="#cambiental">Cambio Ambiental</a>
        </nav>

        <div class="icons">
            <a routerLink="/cart" class="fas fa-shopping-cart"></a>
            <a routerLink="/login" class="fas fa-user"></a>
        </div>

    </header>
 <!-- header section ends -->

 <!-- home section stars  -->
    <section class="inicio" id="inicio">

        <div class="content">
            <h6></h6>
            <span>  </span>
            <p><strong>'Wopp' te ofrece descuentos exclusivos en restaurantes y tiendas locales. Negocia precios y ahorra en cada comida para hacer que cada bocado sea un 'Wopp'.</strong></p>
            
        </div>
    </section>
 <!-- home section ends  -->
    <!-- about section stars -->

    <section class="woppers" id="woppers">

        <h1 class="heading"> <span> Somos </span> Woppers </h1>
    
        <div class="row">
            <div class="video-container">
                <img src="./../../../assets/images/imagen container.jpg"  alt="">
                <h3>somos comunidad</h3>
            </div>

            <div class="content">
                <h3>¿Tienes un negocio?</h3>
                <p>Maximiza tus ventas y reduce las pérdidas de alimentos en tu negocio de comida en Bogotá. Únete a 'Wopp' y publica tus productos perecederos a precios de descuento, llegando a una audiencia ávida de ofertas locales. Aumenta la visibilidad de tu negocio y construye relaciones con clientes leales. Con 'Wopp', nunca fue tan fácil ofrecer alimentos frescos a precios irresistibles.</p>
                
            </div>

        </div>

    </section>

    <!-- about section ends -->


    <!-- Mission and Vision section starts -->

    <section class="woppers" id="modelo">

        <h1 class="heading"> <span> Nuestro </span> Modelo </h1>
    
        <div class="row">
            <div class="video-container">
                <img src="./../../../assets/images/modelo.jpeg" alt="">
                   
            </div>

            <div class="content">
                
                <p>Wopp, plataforma innovadora en Bogotá, conecta dueños de negocios de comida con usuarios buscando productos frescos a precios rebajados. Los usuarios negocian ofertas publicadas, fomentando la reducción del desperdicio de alimentos y respaldando a los negocios locales. 'Wopp' forma una comunidad de 'Woppers' que disfrutan de alimentos asequibles y respaldan emprendedores locales.</p>
            </div>

        </div>

    </section>

    <!-- products section ends -->

    <!-- review section starts -->

    <section class="woppers" id="proyeccion">

        <h1 class="heading"> <span> Muchas </span> Perspectivas </h1>
    
        <div class="row">
            <div class="video-container">
                <img src="./../../../assets/images/fundaciones.png" alt="">
                   
            </div>

            <div class="content">
                
                <p>
                    Una de las ellas consiste en colaborar con fundaciones para asegurar que nuestros productos no se desperdicien, pudiendo ser utilizados tanto por personas como por animales, dependiendo de su estado. La prioridad es evitar la generación de residuos orgánicos aprovechables, y en el caso de que las tiendas deseen establecer una colaboración benéfica con cualquier organización, aspiramos a ser el puente de comunicación entre ambas partes.</p>
            </div>

        </div>

    </section>

    <!-- review section ends -->

    <!-- contact section starts -->

    <section class="woppers" id="cambiental">

        <h1 class="heading"> <span> Cambio </span> Ambiental </h1>
    
        <div class="row">
            <div class="video-container">
                <img src="./../../../assets/images/Todos los dias.png" alt="">
                   
            </div>

            <div class="content">
                
                <p>En Colombia se producen anualmente 28 millones de toneladas de alimento para consumo humano. Sin embargo, no todo se      aprovecha, parte se pierde y otra parte se desperdicia.</p>

                <p>¿Cuál es la diferencia? Las pérdidas se generan entre las etapas de producción agropecuaria y de procesamiento industrial. Los desperdicios, entre las de distribución y consumo (FAO, 2012).</p>
                    
                <p>Pero estos alimentos no aprovechados no se distribuyen uniformemente a lo largo de toda la cadena de valor. Así, las pérdidas y desperdicios de alimentos en Colombia se ubican en los siguientes valores (Castañeda, Martínez y Puerta, 2016; FAO, 2019).</p>
            </div>

        </div>

    </section>

    <!-- contact section ends -->

    <!-- footer section starts -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Enlaces</h3>
                <a href="#inicio">Inicio</a>
                <a href="#woppers">Woppers</a>
                <a href="#modelo">Modelo de Negocio</a>
                <a href="#perspectiva">Perspectiva</a>
                <a href="#cambiental">Somos Ambiente</a>
            </div>

            <div class="box">
                <h3>ubicaciones</h3>
                <a href="#">Bogotá</a>
                <a href="#">medellin</a>
                <a href="#">cali</a>
            </div>

            <div class="box">
                <h3>información de contacto</h3>
                <a href="#">atencionalcliente&#64;wopp.com</a>
                <a href="#">Bogotá d.c. - Colombia</a>
            </div>

        </div>

        <div class="credit"> creado por <span> Wopp Co</span> | todos los derechos reservados | </div>

    </section>

    <!-- footer section ends -->

</body>
</html>