.form-auth, .form-product {
    margin-top: 6rem;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(./../../../assets/images/Registroo.jpg);
}